
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>States of the United Kind</h2>
<p>Welcome to a test website, enjoy the states listed below.</p>
<ul>
    <li><a href="/States/States/1">Delaware</a></li>
    <li><a href="/States/States/2">Pennsylvania</a></li>
    <li><a href="/States/States/3">New Jersey</a></li>
    <li><a href="/States/States/4">Georgia</a></li>
    <li><a href="/States/States/5">Connecticut</a></li>
</ul>

