@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br/>
<h4>Created by:</h4>
<h2> Ryan Everett</h2>
<p>
    Work related links:
    <ul>
        <li><a href="https://www.linkedin.com/in/ryanjeverett/">LinkedIn</a></li>
        <li><a href="https://bartholomew009.github.io/Portfolio/">Github</a></li>
    </ul>
</p>